@charset "UTF-8";

:root {
	--cor1: #146A61;
	--cor2: #F3C97F;
	--cor3: #B8653D;
	--cor4: #484349;
}

* {
	padding: 0px;
	margin: 0px;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	height: 100vh;
}

header {
	background-color: var(--cor1);
	text-align: center;
}

header h1 {
	color: white;
	padding: 30px;
}

header p {
	color: var(--cor2);
	padding-bottom: 30px;
}